* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;

}

header {
    position: sticky;
    top: 0;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 75px;
    padding: 0 25px;
    background-color: #291b1b;
    align-items: center;
}

.logo {
    width: 100px;
    position: relative;
    top: 5px;
}

.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 5px;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-left {
    display: flex;
}

.navbar-right ul {
    display: flex;
}

.navbar-left ul,
.navbar-right ul {
    margin: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    color: coral;
    font-size: 1.5rem;
}

.navbar-right li {
    padding: 3px;
}

a {
    font-size: 1.5rem;
}

.progress-container {
    width: 100%;
    height: 1px;
    background: #121f3d;
}

.progress-bar {
    height: 1px;
    background: #97c93e;
    width: 0%;
}

.img-wallpaper {
    width: 100%;
    min-width: 320px;
    height: 60vh;
    background-image: url(Images/Bernay-Wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-attachment: fixed;
}

.img-wallpaper h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    position: absolute;
}

.themeToggle {
    color: #bbb;
    width: 3em;
}

.st-sunMoonThemeToggleBtn {
    position: relative;
    cursor: pointer;
}

.st-sunMoonThemeToggleBtn .themeToggleInput {
    opacity: 0;
    width: 100%;
    aspect-ratio: 1;
}

.st-sunMoonThemeToggleBtn svg {
    position: absolute;
    left: -5px;
    top: -9px;
    width: 150%;
    color: coral;
    transition: transform 0.4s ease;
    transform: rotate(40deg);
}

.st-sunMoonThemeToggleBtn svg .sunMoon {
    transform-origin: center center;
    transition: inherit;
    transform: scale(1);
}

.st-sunMoonThemeToggleBtn svg .sunRay {
    transform-origin: center center;
    transform: scale(0);
}

.st-sunMoonThemeToggleBtn svg mask>circle {
    transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
    transform: translate(0px, 0px);
}

.st-sunMoonThemeToggleBtn svg .sunRay2 {
    animation-delay: 0.05s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay3 {
    animation-delay: 0.1s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay4 {
    animation-delay: 0.17s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay5 {
    animation-delay: 0.25s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay5 {
    animation-delay: 0.29s !important;
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg {
    transform: rotate(90deg);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg mask>circle {
    transform: translate(16px, -3px);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg .sunMoon {
    transform: scale(0.55);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg .sunRay {
    animation: showRay1832 0.4s ease 0s 1 forwards;
}

@keyframes showRay1832 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.navbar-sign-up {
    color: coral;
    cursor: pointer;
}

.icon-shopping-cart {
    color: coral;
    cursor: pointer;
}

.icon-heart {
    color: coral;
    cursor: pointer;
}

button {
    position: relative;
    padding: 5px 20px;
    background: #291b1b;
    font-size: 1.5rem;
    font-weight: 500;
    color: coral;
    border: 3px solid #291b1b;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s ease;
}

button:hover {
    background: transparent;
    color: #fec195;
    box-shadow: 0 0 25px #fec1958c;
    z-index: 1;
}

button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.fil0 {
    fill: #fffdef;
}