body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid #c7c7c7;
    background: linear-gradient(91deg, rgba(3, 2, 2, 1) 0%, rgba(199, 130, 87, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.logo {
    width: 100px;
}

.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-left {
    display: flex;
}

.navbar-left ul,
.navbar-right ul {
    margin: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    border: 1px solid;
    padding: 8px;
    border-radius: 8px;
}