* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;

}

:root {
    --primary-color: #fff;
    --color: #000000;
    --shopping-cart-botton: #291b1b;
    --shopping-cart-p: #ff7f50;
    --sidenavmenu: #f3ecec;
    --sidehovermenu: -20px 5px 15px 0px rgba(0, 0, 0, 0.25);
}

.dark-mode {
    --primary-color: #151212;
    --color: #c49e68;
    --shopping-cart-botton: #ff7f50;
    --shopping-cart-p: #291b1b;
    --sidenavmenu: #291b1b;
    --sidehovermenu: -18px 0px 15px 0px rgb(255 127 80);
}

header {
    position: sticky;
    top: 0;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    height: 75px;
    padding: 0 25px;
    background-color: #291b1b;
    align-items: center;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 35em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: coral;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.logo {
    width: 100px;
    position: relative;
    top: 5px;
}

.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 5px;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-left {
    display: flex;
}

.navbar-right ul {
    display: flex;
}

.navbar-left ul,
.navbar-right ul {
    margin: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    color: coral;
    font-size: 1.5rem;
}

.navbar-right li {
    padding: 3px;
}

a {
    font-size: 1.5rem;
}

.progress-container {
    width: 100%;
    height: 1px;
    background: #121f3d;
}

.progress-bar {
    height: 1px;
    background: #97c93e;
    width: 0%;
}

.img-wallpaper {
    width: 100%;
    min-width: 320px;
    height: 60vh;
    background-image: url(Images/collar-muestra-bernay.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    background-attachment: local;
}

.img-wallpaper h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    position: absolute;
}

.theme-btn {
    color: #bbb;
    width: 3em;
}

.st-sunMoonThemeToggleBtn {
    position: relative;
    cursor: pointer;
}

.st-sunMoonThemeToggleBtn .themeToggleInput {
    opacity: 0;
    width: 100%;
    aspect-ratio: 1;
}

.st-sunMoonThemeToggleBtn svg {
    position: absolute;
    left: -5px;
    top: -9px;
    width: 150%;
    color: coral;
    transition: transform 0.4s ease;
    transform: rotate(40deg);
}

.st-sunMoonThemeToggleBtn svg .sunMoon {
    transform-origin: center center;
    transition: inherit;
    transform: scale(1);
}

.st-sunMoonThemeToggleBtn svg .sunRay {
    transform-origin: center center;
    transform: scale(0);
}

.st-sunMoonThemeToggleBtn svg mask>circle {
    transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
    transform: translate(0px, 0px);
}

.st-sunMoonThemeToggleBtn svg .sunRay2 {
    animation-delay: 0.05s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay3 {
    animation-delay: 0.1s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay4 {
    animation-delay: 0.17s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay5 {
    animation-delay: 0.25s !important;
}

.st-sunMoonThemeToggleBtn svg .sunRay5 {
    animation-delay: 0.29s !important;
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg {
    transform: rotate(90deg);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg mask>circle {
    transform: translate(16px, -3px);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg .sunMoon {
    transform: scale(0.55);
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked+svg .sunRay {
    animation: showRay1832 0.4s ease 0s 1 forwards;
}

@keyframes showRay1832 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.navbar-sign-up {
    position: relative;
    color: coral;
    cursor: pointer;
}

.icon-shopping-cart {
    color: coral;
    cursor: pointer;
}

.icon-heart {
    color: coral;
    cursor: pointer;
}

button {
    position: relative;
    padding: 5px 20px;
    background: #291b1b;
    font-size: 1.5rem;
    font-weight: 500;
    color: coral;
    border: 3px solid #291b1b;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s ease;
}

button:hover {
    background: transparent;
    color: #fec195;
    box-shadow: 0 0 25px #fec1958c;
    z-index: 1;
}

button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.fil0 {
    fill: #fffdef;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin: 55px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}

.product-card {
    width: 240px;
}

.product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-info figure {
    margin: 0;
}

.product-info figure button {
    width: 148px;
    height: 35px;
}

.product-card figure {
    display: flex;
    flex-direction: row-reverse;
}

.product-info div p:nth-child(1) {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 4px;
    color: #bbb;
}

.product-info div p:nth-child(2) {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    color: var(--color);
}

.CartBtn {
    width: 150px;
    height: 35px;
    border-radius: 12px;
    border: none;
    background-color: var(--shopping-cart-botton);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
}

.CartBtn p {
    font-size: 1.2rem;
    color: var(--shopping-cart-p);
}

.CartBtn:hover {
    background-color: var(--shopping-cart-botton);
    color: coral;
}

.IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    font-size: large;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
}

.IconContainer svg {
    fill: var(--shopping-cart-p);
}

.icon {
    border-radius: 1px;
}

.text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: coral;
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
}

.CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
}

.CartBtn:hover .text {
    transform: translate(10px, 0px);
    transition-duration: .5s;
}

.CartBtn:active {
    transform: scale(0.95);
    transition-duration: .5s;
}

/*Mobile Menu*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--sidenavmenu);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 76px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
}

.sidenav a {
    padding: 15px 8px 18px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--color);
    display: block;
    transition: 0.3s;
}

.sidenav label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
    cursor: pointer;
}

.sidenav svg {
    height: 20px;
    margin-top: 6px;
    fill: var(--color);
}

.sidenav a:hover {
    color: #ff7f50;
}

.sidenav label:hover {
    box-shadow: var(--sidehovermenu);
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.footer-list {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #291b1b;
    color: #ffffff;
}

.footer-list ul {
    font-size: large;
    margin: 50px;
    margin-left: 100px;
    color: darkgray;
}

.footer-list li {
    margin: 10px;
    color: coral;
}

.accordion-panel {
    display: none;
}

@media (max-width: 641px) {
    .hamburger {
        display: block;
    }

    .navbar-left ul {
        display: none;
    }

    .navbar-right {
        margin-left: -40px;
        margin-right: -30px;
    }

    .logo {
        position: relative;
    }

    .accordion-panel {
        display: block;
    }

    .footer-list {
        display: none;
    }

    .accordion {
        background-color: #291b1b;
        color: coral;
        cursor: pointer;
        padding: 20px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        border-radius: 0px;
    }

    .panel p {
        font-size: 1.2rem;
        margin: 15px;
        color: var(--color);
    }

    .active,
    .accordion:hover {
        background-color: #372525;
    }

    .panel {
        padding: 0 18px;
        background-color: var(--primary-color);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;
        position: relative;
    }

    .accordion::after {
        content: '\02795';
        font-size: 13px;
        float: right;
        margin-left: 5px;
    }

    .active::after {
        content: '\2796';
    }

}